.about--container {
    /* margin-top: 5em; */
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.about--container > h1 {
    margin-bottom: 1.5em;
    font-family: 'Henny Penny', cursive;
    font-size: 1.8em;
    text-align: justify;
    margin-left: 10px;
    margin-right: 10px;
}

.about-talks {
    display: flex;
    align-items: center;
}

.about-talks > img {
    height: 34em;
    border-radius: 0.32em;
}

.talks {
    width: 31.25em;  
    margin-left: 2em;
}



.talks > p {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1.4em;
    margin: 1.8em 0 1.8em 0;
    text-align: justify;
}

@media only screen and (max-width: 1200px) {
    .about--container {
        font-size: 0.7rem;
    }
}

@media only screen and (max-width: 900px) {
    .about--container {
        font-size: 0.6rem;
    }

    .about-talks {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}