.about--container {
    margin-top: 5em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about--container > h1 {
    margin-bottom: 1.5em;
    font-family: 'Henny Penny', cursive;
    font-size: 1.8em;
}

.about-talks {
    display: flex;
    align-items: center;
}

.about-talks > img {
    height: 43.8em;
    border-radius: 0.32em;
}

.talks {
    width: 31.25em;  
}



.talks > p {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1.75em;
    margin: 1.8em 0 1.8em 0;
    text-align: justify;
}

@media only screen and (max-width: 700px) {
    .about--container {
        font-size: 0.6rem;
    }

    .about-talks {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
    /*.about-talks {
        display: flex;
        flex-direction: column;  
    }
    .about-talks > img {
        height: 750px;
        border-radius: 5px;
    }
    .talks > .about {
        font-size: 35px;
        
    }*/
}