.App {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0.62em 0.94em 0px 0.94em;
}

.app--container {
    padding: 0 0.94em 0px 0.94em;
    width: 100%;
    max-width: 68.8em;
    min-width: 500px;
    min-height: 94.9vh;
}

