#root {
    width: 100%;
}

.App {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0.62em 0.94em 0 0.94em;
    width: 98%;
}

.app--container {
    padding: 0 0.94em 0 0.94em;
    max-width: 1100px;
    min-height: 97vh;
    width: 100%;
}

@media only screen and (max-width: 1200px) {
    .App {
        font-size: 1rem;
        max-width: auto;
        padding: 0;
    }

    .app--container {
        max-width: auto;
        padding: 0;
        
    }
}