.articles {
    display: flex;
    justify-content: center;
    margin-top: 2.5em;
    font-family: 'Henny Penny', cursive;
    font-size: 2em;
}

@media only screen and (max-width:1200px) {
    /* .articles {
        font-size: 3rem;
    } */

}

