footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

footer > p {
    padding-right: 20px;
    color: rgb(173, 172, 172) ;
    font-family: 'Henny Penny', cursive;
    font-size: 17px;
}