.header--container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #33272A;

} 

.header-ul {
    list-style-type: none;
    display: flex;
    align-items: center;
}

.header-ul > li {
    padding: 0;
    margin: 0 15px 0 15px;
    font-family: 'Henny Penny', cursive;
    font-size: 25px;
}

.header-ul > li:hover {
    color: #bababa;
}

.header--container > h1 {
    font-family: 'Henny Penny', cursive;
    font-size: 40px;
}

.menu-icon {
    display: none;
}

@media only screen and (max-width:750px) {
    .header--container {
        margin-left: 20px;
        margin-right: 20px;
    }
    
    .fas .fa-bars {
        font-size: 3em;
        color: black;
    }
    .fas.fa-times {
        font-size: 3em;
        color: black;
    }

    .header-ul {
        position: fixed;
        left: 100%;
        top: 18rem;
        flex-direction: column;
        background-color: #f4be0d;
        width: 100%;
        height: 80%;
        border-radius: 10px;
        text-align: center;
        justify-content: center;
        transition: 0.3s;
        box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
    }

    .menu-icon {
        display: block;
        cursor: pointer;
    }

    .header-ul.clicked {
        left: 0;
        z-index: 15;
        padding-top: 5em;
        padding-bottom: 3em;
    }

    .header-ul.clicked > li {
        padding-top: 70px;
        
    }

}
