.header--container {
    display: flex;
    justify-content: space-between;
    color: #33272A;

} 

.header-ul {
    list-style-type: none;
    display: flex;
    align-items: center;
}

.header-ul > li {
    padding: 0;
    margin: 0 15px 0 15px;
    font-family: 'Henny Penny', cursive;
    font-size: 25px;
}

.header-ul > li:hover {
    color: #fa709a;
}

.header--container > h1 {
    font-family: 'Henny Penny', cursive;
    font-size: 40px;
}

