.main-home {
    padding-top: 7.5em;
    padding-left: 1.2em;
}

.img-div > img {
    width: 25em;
}


.img-div {
    padding-left: 3.3em;
}



.info-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.info-main-div {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    padding-bottom: 1.8em;
    
}

.info-div-title > h1 {
    font-family: 'Kaisei Opti', serif;
    font-size: 2.5em;
    margin: 0;
}


.info-div-title > p {
    font-family: 'Kaisei Opti', serif;
    margin: 0;
    text-align: right;
    color: #a26700ef;
    font-size: 1.1em;
}


.info-div > p {
    font-family: 'Kaisei Opti', serif;
    font-size: 1.8em;
    margin: 0;
    padding-top: 0.75em;
}


.projects-main {
    padding-top: 3.5em;
    padding-bottom: 3em;
}

.projects-main > p {
    font-family: 'DM Serif Display', serif;
    font-size: 1.9em;
}


.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 4em;
    margin-bottom: 6.4em;
}


.getInTouch {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.getInTouch > h1 {
    font-family: 'Kaisei Opti', serif;
    font-size: 2.5em;
    color: #33272A;
}


.callMe {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 0.15em solid #33272A;
    border-radius: 0.4em;
    padding: 0.8em 2.5em 0 2.5em;
    box-shadow: 0 0.25em 0.6em 0 rgba(0, 0, 0, 0.2), 0 0.2em 0.6em 0 rgba(0, 0, 0, 0.2);
}

.callMe > p {
    font-family: 'Kaisei Opti', serif;
    font-size: 1.58em;
    font-weight: bold;
    color: #33272A;
}


.helloButton {
    background-color: #f5c118;
    width: 8.8em;
    height: 3.8em;
    box-shadow: 0 0.3em 0.4em 0 rgba(0, 0, 0, 0.2), 0 0.2em 0.6em 0 rgba(0, 0, 0, 0.2);
    border-radius: 0.3em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.helloButton > a {
    font-family: 'Henny Penny', cursive;
    font-size: 1.28em;
    padding: 0;
    margin: 0;
    text-decoration: none;
    color: #33272A;
}

.socialnet {
    padding-top: 2.5em;
    padding-bottom: 1.8em;
}



@media only screen and (max-width: 600px) {
    .projects-main > p {
        font-size: 70px;
    }

    .info-div-title > h1 {
        font-size: 70px;
    }
    
    .info-div-title > p {
        font-size: 30px;
    }

    .info-div > p {
        font-size: 40px;
    }
    .info-main-div {
        flex-direction: column-reverse;
        align-items: center;
    }
    .img-div > img {
        width: 680px;
    }

    .getInTouch > h1 {
        font-size: 60px;
    }
    .callMe > p {
        font-size: 40px;
    }
    .helloButton {
        background-color: #f5c118;
        width: 280px;
        height: 120px;
        border-radius: 15px;

    }

    .helloButton > a {
        font-size: 30px;
    }
    
    .socialnet {
        padding-top: 50px;
        padding-bottom: 80px;
    }
}