.main-home {
    padding: 7.5em 1.2em 0 1.2em;
}

.img-div > div > img {
    width: 27em;
}

.img-div.dark-mode > div  {
    background-color: #fff9df;
    border-radius: 50%;
    box-shadow: 0px 0px 70px 4px rgba(230,223,195,1);
}

.img-div {
    padding-left: 3.3em;
}

.info-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.info-main-div {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    padding-bottom: 1.8em;
    
}

.info-div-title > h1 {
    font-family: 'Kaisei Opti', serif;
    font-size: 2.5em;
    margin: 0;
}

.info-div-title > p {
    font-family: 'Kaisei Opti', serif;
    margin: 0;
    text-align: right;
    color: #a26700ef;
    font-size: 1.1em;
}

.info-div-title.dark-mode.p > p {
    color: #6c388c;
}

.info-div > p {
    font-family: 'Kaisei Opti', serif;
    font-size: 1.8em;
    margin: 0;
    padding-top: 0.75em;
}


.projects-main {
    padding-top: 3.5em;
    padding-bottom: 3em;
    position: relative;
}

.projects-main > p {
    font-family: 'DM Serif Display', serif;
    font-size: 1.9em;
}


.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 4em;
    margin-bottom: 6.4em;
}


.getInTouch {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.getInTouch > h1 {
    font-family: 'Kaisei Opti', serif;
    font-size: 2.5em;
    color: #33272A;
}

.getInTouch.dark-mode > h1 {
    color: #b7b7b7;
}


.callMe {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 0.15em solid #33272A;
    border-radius: 0.4em;
    padding: 0.8em 2.5em 0 2.5em;
    box-shadow: 0 0.25em 0.6em 0 rgba(0, 0, 0, 0.2), 0 0.2em 0.6em 0 rgba(0, 0, 0, 0.2);
}

.callMe.dark-mode {
    border-color: #b7b7b7;
}

.callMe > p {
    font-family: 'Kaisei Opti', serif;
    font-size: 1.58em;
    font-weight: bold;
    color: #33272A;
}

.callMe.dark-mode > p {
    color: #b7b7b7;
}


.helloButton {
    background-color: #f5c118;
    width: 8.8em;
    height: 3.8em;
    box-shadow: 0 0.3em 0.4em 0 rgba(0, 0, 0, 0.2), 0 0.2em 0.6em 0 rgba(0, 0, 0, 0.2);
    border-radius: 0.3em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.helloButton.dark-mode {
    background-color: #7c4a9a;
}

.helloButton.dark-mode:hover {
    background-color: #fe5303;
}

.helloButton.dark-mode > a {
    color: white;
}

.helloButton > a {
    font-family: 'Henny Penny', cursive;
    font-size: 1.28em;
    padding: 0;
    margin: 0;
    text-decoration: none;
    color: #33272A;
}

.socialnet {
    padding-top: 2.5em;
    padding-bottom: 1.8em;
}

.cat {
    z-index: 7;
    position: absolute;
    height: 70px;
    width: 58px;
    top: 89px;
    right: 10px;
    border-radius: 0 50% 20% 0;
    background-color: #413f3f;
}

.tail {
    position: absolute;
    height: 30px;
    width: 14px;
    top: 65px;
    left: 44px;
    border-radius: 0 15px 25px 25px;
    background-color: #413f3f;
}

.tail1 {
    position: absolute;
    height: 10px;
    width: 14px;
    top: 20px;
    border-radius: 20px;
    background-color: #FFF;
    animation: tails1 15s infinite;
    transform: rotate(13deg);
      transform-origin: center center;
}
.tail-last {
    position: absolute;
    height: 10px;
    width: 14px;
    top: 5px;
    border-radius: 25px;
    background-color: #FFF;
    animation: tails1 15s infinite;
    transform: rotate(13deg);
    transform-origin: center center;
}
.tailx {
    position: absolute;
    height: 10px;
    width: 14px;
    top: 5px;
    border-radius: 25px 20px 0 0 ;
    background-color: #FFF;
    animation: tails1 15s infinite;
    transform: rotate(13deg);
    transform-origin: center center;
}

@keyframes tails1 {
    10%, 30%, 50%, 93% {
      transform: rotate(-13deg);
    }
    55%, 88% {
      transform: rotate(0deg) scale(1.07);
    }
    0%, 20%, 40%, 100% {
      transform: rotate(13deg);
    }
}

.paw {
    position: absolute;
    height: 10px;
    width: 10px;
    bottom: 0;
    left: -8px;
    border-radius: 50% 30% 0 0;
    background-color: #FFF;
}
.head {
    position: absolute;
    height: 38px;
    width: 38px;
    top: -30px;
    left: -8px;
    border-radius: 40% 50% 30% 40%;
    background-color: #413f3f;
    animation: cat-head 15s infinite;
}

@keyframes cat-head {
    52%, 91% { transform: scale(1); }
    53%, 88% { transform: scale(1.1, 0.8); }
}

.ear1 {
    position: absolute;
    height: 20px;
    width: 20px;
    left: 4px;
    transform: skew(50deg) rotate(45deg);
    background-color: #413f3f;
}
.ear2 {
    position: absolute;
    height: 20px;
    width: 20px;
    transform: skew(-50deg) rotate(45deg);
    background-color: #413f3f;
    left: 12px;
}

@media only screen and (max-width: 1200px) {
    .Home--container {
        font-size: 0.65rem;
        padding: 0;
    }
    .info-main-div {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .cat {
        top: 33px;
    }
}


@media only screen and (max-width: 900px) {
    .Home--container {
        font-size: 0.6rem;
        padding: 0;
    }

    .info-main-div {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }

    .info-div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .img-div {
        padding-left: 0;
    }

    .cat {
        top: 25px;
    }
}
