.main-home {
    padding-top: 150px;
    padding-left: 20px;
}

.img-div > img {
    width: 380px;
}

.img-div {
    padding-left: 50px;
}

.info-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.info-main-div {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    padding-bottom: 30px;
    
}

.info-div-title > h1 {
    font-family: 'Kaisei Opti', serif;
    font-size: 40px;
    margin: 0;
}

.info-div-title > p {
    font-family: 'Kaisei Opti', serif;
    margin: 0;
    text-align: right;
    color: #a26700ef;
    font-size: 17px;
}

.info-div > p {
    font-family: 'Kaisei Opti', serif;
    font-size: 28px;
    margin: 0;
    padding-top: 20px;
}

.projects-main {
    padding-top: 60px;
    padding-bottom: 50px;
}

.projects-main > p {
    font-family: 'DM Serif Display', serif;
    font-size: 30px;
}

.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 70px;
    margin-bottom: 100px;
}

.getInTouch {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.getInTouch > h1 {
    font-family: 'Kaisei Opti', serif;
    font-size: 40px;
    color: #33272A;
}

.callMe {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid #33272A;
    border-radius: 5px;
    padding: 10px 40px 0px 40px;
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2), 0 6px 8px 0 rgba(0, 0, 0, 0.2);
}

.callMe > p {
    font-family: 'Kaisei Opti', serif;
    font-size: 25px;
    font-weight: bold;
    color: #33272A;
}

.helloButton {
    background-color: #f5c118;
    width: 140px;
    height: 60px;
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2), 0 6px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.helloButton > a {
    font-family: 'Henny Penny', cursive;
    font-size: 20px;
    padding: 0;
    margin: 0;
    text-decoration: none;
    color: #33272A;
}

.socialnet {
    padding-top: 40px;
    padding-bottom: 30px;
}

@media screen and (max-width: 455px) {
    .projects-main > p {
        font-size: 70px;
    }

    .info-div-title > h1 {
        font-size: 70px;
    }
    
    .info-div-title > p {
        font-size: 30px;
    }
.info-div > p {
    font-size: 40px;
}
.info-main-div {
    flex-direction: column-reverse;
    align-items: center;
}
.img-div > img {
    width: 680px;
}

.getInTouch > h1 {
    font-size: 60px;
}
.callMe > p {
    font-size: 40px;
}
.helloButton {
    background-color: #f5c118;
    width: 280px;
    height: 120px;
    border-radius: 15px;

}

.helloButton > a {
    font-size: 30px;
}

.socialnet {
    padding-top: 50px;
    padding-bottom: 80px;
}
}