html {
    scroll-behavior: smooth;    
}

body {
    min-width: 900px;
    border: 0.43em solid;
    height: auto;
    min-height: 100vh;
    background-color: #fcfaf7;
    margin: 0;
    padding: 0;
    border-image-source: linear-gradient(90deg,#fadd7e,#f8bf01 70%);
    border-image-slice: 1;
    box-sizing: border-box;
}

body.dark-theme {
    background-color: black;
    border-image-source: linear-gradient(90deg,#fe53039c,#7416abab 70%);
    color: #e2e1e1;
}


@media only screen and (max-width: 1200px) {
    body {
        font-size: 1rem;
        display: flex;
        justify-content: center;
        min-width: 300px;
    }
}
