.latestProject-container {
    border: 0.03em solid #33272A;
    border-radius: 0.3em;
    padding: 1.25em;
    border-left-width: 0.63em;
    box-shadow: 0 0.25em 0.375em 0 rgba(0, 0, 0, 0.2), 0 0.375em 1.25em 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 1.875em;
    transition: 0.5s;
}



.latestProject-container:hover {
    box-shadow: 0 0.25em 0.375em 0 rgba(0, 0, 0, 0.2), 0 0.375em 1.25em 0 rgba(0, 0, 0, 0.2);
    border-left-color: #f5c118 ;
    margin-top: -0.3em;
    margin-bottom: 2.5em;
}



.latestProject-container > h3 {
    font-family: 'Kaisei Opti', serif;
    font-size: 1.75em;
    margin: 0;
    padding-bottom: 0.28em;
    color: #33272A;
    font-weight: bold;
}


.latestProject-container > p {
    padding-right: 1.25em;
    padding-bottom: 0.62em;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1.19em;
    margin: 0;
    color: #4e4d4d;
}
@media only screen and (max-width: 1200px) {
    .latestProject-container {
        font-size: 1.4rem;
        
    }

}

@media only screen and (max-width: 900px) {
    .latestProject-container {
        font-size: 0.6rem;
        
    }
}