.latestProject-container {
    border: 0.5px solid #33272A;
    border-radius: 5px;
    padding-bottom: 20px;
    padding-top: 20px;
    border-left-width: 10px;
    padding-left: 20px;
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 30px;
    transition: 0.5s;
}

.latestProject-container:hover {
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
    border-left-color: #f6508280;
    margin-top: -2px;
    margin-bottom: 40px;
}

.latestProject-container > h3 {
    font-family: 'Kaisei Opti', serif;
    font-size: 28px;
    margin: 0;
    padding-bottom: 5px;
    color: #33272A;
    font-weight: bold;
}

.latestProject-container > p {
    padding-right: 20px;
    padding-bottom: 10px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 19px;
    margin: 0;
    color: #4e4d4d;
}

.latestProject-container > a {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 18px;
    margin: 0;
    color: #4e4d4d;
    
}

.latestProject-container > a:hover {
    color: #f6508264;
}

